.product-options-wrapper {
    width: 100%;
    display: contents;
}

.bundle-options {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between elements */
    margin-bottom: 5px;
    justify-content: space-between;
    background: #EEE;
    padding: 10px;
}

.bundle-options.disabled {
    opacity: 0.5; /* Make it semi-transparent */
    pointer-events: none; /* Disable interaction */
}

.bundle-options.active {
    opacity: 1;
    pointer-events: auto;
}

.bundle-options .product-name {
    font-weight: bold;
}

.bundle-options .price-container {
    font-size: 14px;
    color: #333;
}

.bundle-option-qty {
    width: 60px;
    text-align: center;
    margin-left: auto;
}

.hide-block {
    visibility: hidden;
    position: absolute;
}

.product-add-form .product-options-wrapper .fieldset-bundle-options .field .control {
    width: 100%;
}
